bin/Debug/net7.0/Hulk.dll
bin/Debug/net7.0/Hulk.exe
bin/Debug/net7.0/Hulk.pdb
obj/Debug/net7.0/apphost.exe
obj/Debug/net7.0/Hulk.assets.cache
obj/Debug/net7.0/Hulk.dll
obj/Debug/net7.0/Hulk.pdb
obj/Debug/net7.0/Hulk.GeneratedMSBuildEditorConfig.editorconfig
